AddHandler application/x-httpd-php81 .php

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile "/home/grueneto/.htpasswds/public_html/raisenowservice.gruenetools.ch/passwd"
Require valid-user
Require local